<div class="container">
  <h1 class="mt-5">Listing Projects</h1>
  <div class="userInputContainer my-5">
    <label class="fs-5 mb-1" for="projectName">Project Name</label>
    <input id="projectName" type="text" class="form-control mb-2 bg-dark border-0 text-light" [(ngModel)]="project.name"
      required>
    <label class="fs-5 mb-1" for="projectDescription">Project Description</label>
    <input id="projectDescription" type="text" class="form-control mb-2 bg-dark border-0 text-light"
      [(ngModel)]="project.description" required>
    <label class="d-block fs-5 mb-1" for="projectStatus">Project Status</label>
    <select class="bg-dark border-0 text-light p-1" id="projectStatus" [(ngModel)]="project.status" required>
      <option value="fejlesztésre vár">fejlesztésre vár</option>
      <option value="folyamatban">folyamatban</option>
      <option value="kész">kész</option>
    </select>
  </div>
  <!-- Button Container -->
  <div class="buttons my-3">
    <button class="btn btn-sm btn-success">
      Add Project
    </button>
    <div class="editButtons">
      <button class="btn btn-sm btn-primary me-2">
        Save Edit
      </button>
      <button class="btn btn-sm btn-primary me-2">
        Cancel Edits
      </button>
    </div>
  </div>
</div>