<div class="container">
  <h1 class="mt-5">Listing Projects</h1>
  <!-- User input fields -->
  <div class="userInputContainer my-5">
    <input type="text" class="form-control mb-2 bg-dark border-0 text-light visually-hidden" [(ngModel)]="project.id"
      disabled>
    <label class="fs-5 mb-1" for="projectName">Project Name</label>
    <input id="projectName" type="text" class="form-control mb-2 bg-dark border-0 text-light" [(ngModel)]="project.name"
      required>
    <label class="fs-5 mb-1" for="projectDescription">Project Description</label>
    <input id="projectDescription" type="text" class="form-control mb-2 bg-dark border-0 text-light"
      [(ngModel)]="project.description" required>
    <label class="d-block fs-5 mb-1" for="projectStatus">Project Status</label>
    <select class="bg-dark border-0 text-light p-1" id="projectStatus" [(ngModel)]="project.status" required>
      <option value="fejlesztésre vár">fejlesztésre vár</option>
      <option value="folyamatban">folyamatban</option>
      <option value="kész">kész</option>
    </select>
  </div>
  <!-- Button Container -->
  <div class="buttons">
    <button *ngIf="!editEnabled" class="btn btn-sm btn-success" (click)="addProject()">
      Add Project
    </button>
    <div *ngIf="editEnabled" class="editButtons">
      <button class="btn btn-sm btn-primary me-2" (click)="saveEdits()">
        Save Edit
      </button>
      <button class="btn btn-sm btn-primary" (click)="cancelEdits()">
        Cancel Edits
      </button>
    </div>
  </div>
</div>

<!-- Listing Projects | TABLE | -->
<p class="fs-2 text-center my-3" *ngIf="projects.length < 1">There are no projects. Please add a new one!</p>
<div class="tableContainer container">
  <table *ngIf="projects.length > 0" class="table table-sm table-dark table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Project Name</th>
        <th>Project Description</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects; index as i">
        <td>{{i + 1}}</td>
        <td>{{project.name}}</td>
        <td>{{project.description}}</td>
        <td>{{project.status}}</td>
        <td>
          <div class="modifyButtons d-flex">
            <button class="btn btn-sm btn-warning me-2" (click)="loadEdit(project)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-sm btn-danger me-2" (click)="deleteProject(project)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>